POSTGRES_HOST=localhost
PG_PORT=5433
PGUSER=admin
PGPASSWORD=matzpen-123-mefaked-456
POSTGRES_DATABASE=matzpen_mefaked
DATABASE_URL="postgres://admin:matzpen-123-mefaked-456@localhost:5433/matzpen_mefaked"

SSO_CLIENT_SECRET=