POSTGRES_HOST=localhost
PG_PORT=5433
PGUSER=admin
POSTGRES_PASSWORD=matzpen-123-mefaked-456
POSTGRES_DATABASE=matzpen_mefaked
DATABASE_URL="postgres://admin:matzpen-123-mefaked-456@localhost:5433/matzpen_mefaked"
POSTGRES_PRISMA_URL="postgres://admin:matzpen-123-mefaked-456@localhost:5433/matzpen_mefaked"

S3_REGION=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
S3_ENDPOINT_URL=
S3_PUBLIC_URL=
S3_REJECT_UNAUTHORIZED=

DB_USE_SSL=
DB_SSLCERT_NAME=
DB_SSLCERT_DATA=
DB_SSLKEY_NAME=
DB_SSLKEY_DATA=