NODE_ENV=development
ENVIRONMENT=development

PORT=3000

STATIC_TOKEN=

VITE_USE_SSO=false
SSO_CLIENT_SECRET=

SEND_FORBIDDEN_MESSAGES=false

S3_REGION=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
S3_ENDPOINT_URL=
S3_REJECT_UNAUTHORIZED=false

RABBITMQ_USE_SSL=false
RABBITMQ_HOST=
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_QUEUE=celery
AI_EXTRACTION_TASK_NAME=vector.process_document

MIRAGE_URL=
MIRAGE_KEY=
MIRAGE_VERSION=
MIRAGE_ENABLED=false

SERVER_PREFIX=api
SWAGGER_ENABLED=false

USE_REDIS=false
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_SOCKET_PREFIX=

MESSAGE_RELAY_URL=
MESSAGE_RELAY_TOKEN=

NOTIFICATION_TEMPLATE=
VECTOR_URL=http://localhost:8080
VITE_CHAT_URL=https://chatLink
