POSTGRES_HOST=
PGUSER=
PG_PORT=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# expand does not work here, you must hardcode the DATABASE_URL
DATABASE_URL="postgres://PGUSER:POSTGRES_PASSWORD@POSTGRES_HOST:PG_PORT/POSTGRES_DATABASE"

SSO_CLIENT_SECRET=


DB_USE_SSL=
DB_SSLCERT_NAME=
DB_SSLCERT_DATA=
DB_SSLKEY_NAME=
DB_SSLKEY_DATA=