POSTGRES_HOST=
PGUSER=
PG_PORT=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
DATABASE_URL=
POSTGRES_PRISMA_URL=

SSO_CLIENT_SECRET=

DB_USE_SSL=
DB_SSLCERT_NAME=
DB_SSLCERT_DATA=
DB_SSLKEY_NAME=
DB_SSLKEY_DATA=