POSTGRES_HOST=
PGUSER=
PG_PORT=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
DATABASE_URL=
POSTGRES_PRISMA_URL=

S3_REGION=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
S3_ENDPOINT_URL=
S3_PUBLIC_URL=
S3_REJECT_UNAUTHORIZED=

DB_USE_SSL=
DB_SSLCERT_NAME=
DB_SSLCERT_DATA=
DB_SSLKEY_NAME=
DB_SSLKEY_DATA=

BI_CHAT_CHANNEL_NAME=